<div class="createRoutine">
    <div>
        <form>
            <div class="createCardy">
                <div>
                    <div class="createDataTable">
                        <table id="createTable">
                            <div class="createHeaders">
                                <h5>Name</h5>
                                <h5>Weight</h5>
                                <h5>Reps</h5>
                                <h5 id="hidden">{{routines.id}}</h5>
                            </div>
                            <div class="inputData">
                                <div>
                                    <input type="text" placeholder="text" id="nameInput">
                                    <input type="number" placeholder="0" id="weightInput">
                                    <input type="number" placeholder="0" id="repsInput">
                                </div>
                            </div>
                        </table>
                        <Div class="createButtons">
                            <button id="savebtn">Save</button>
                            <button id="addbtn">Add Exercise</button>
                            <button id="removebtn">Remove Exercise</button>
                        </Div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
