<div class="carousel">
  <section class="your-class">
    <div class="carousel-container">
      <img class="carousel-image" src="/assets/images/21.png" alt="cover photo cartoon">
      <img class="carousel-image" src="/assets/images/22.png" alt="cover photo cartoon">
      <img class="carousel-image" src="/assets/images/23.png" alt="cover photo cartoon">
      <img class="carousel-image" src="/assets/images/24.png" alt="cover photo cartoon">
    </div>
  </section>
</div>
<section class="aboutUs">
  <h2>About Us!</h2>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome to Gym Flow! The perfect application to track, share, and
    save workout routines! Our goal was to simplify fitness routines for anyone and everyone! Have you ever tried to
    come up with a fitness routine but didn't know where to start, and you wanted to avoid those expensive trainers and
    extensive research? Well, thats where we come in! With Gym Flow, you can create or save workout plans! You can view
    members fitness plans when they share, or create your own and track your progress! To utilize the full functionality
    of our site, we ask that you please make an account with us and get started on your workout journey! Checkout some
    of the amazing features Gym Flow has to offer!</p>
</section>

<section class="options">
  <div class="details">
    <img src="/assets/images/1.jpg" alt="logo image">
    <div class="info">
      <h3>Create Workout Routines</h3>
      <p>Create your own routines and get started with planning out some exercises and its details!</p>
    </div>
  </div>
  <div class="details">
    <div class="info">
      <h3>Share you Workouts</h3>
      <p>If you love your Routines others might too! Share your routines to the discover feed and let others be inspired
        by your work!</p>
    </div>
    <img src="/assets/images/2.jpg" alt="logo image">
  </div>
  <div class="details">
    <img src="/assets/images/3.jpg" alt="logo image">
    <div class="info">
      <h3>Get inspired by other Users</h3>
      <p>Stuck on where to start? Check out the Discover feed to see what other users are up to! If you love a routine,
        click save and go ahead and adjust it to your preferences!</p>
    </div>
  </div>
    <div class="details">
      <div class="info">
        <h3>Track your progress</h3>
        <p>Keep track of your workout details by updating your routines! Remember to keep pushing, you got this!</p>
      </div>
      <img src="/assets/images/4.jpg" alt="logo image">
    </div>
  </div>
</section>