<div class="carousel">
  <section class="your-class">
    <div class="carousel-container">
      <img class="carousel-image" src="/assets/images/21.png" alt="cover photo cartoon">
      <img class="carousel-image" src="/assets/images/22.png" alt="cover photo cartoon">
      <img class="carousel-image" src="/assets/images/23.png" alt="cover photo cartoon">
      <img class="carousel-image" src="/assets/images/24.png" alt="cover photo cartoon">
    </div>
  </section>
</div>

<section class="about-us">
  <h2>About Us</h2>
  <div>
    <p>
      Welcome to Gym Flow, the perfect application to track, share, and save workout routines!
    </p>
    <p>
      Click <a href="/discover">Discover</a> above to explore shared workout routines. To add likes, comments, or workout routines of your own, please create an account and login to begin your fitness journey.
    </p>
    <p>
      Our goal is to simplify fitness routines for anyone and everyone.
      Have you ever tried to come up with a fitness routine but didn't know where to start, and you wanted to avoid expensive trainers and extensive research?
      With Gym Flow, you can browse through our members' fitness plans and save them to your flow, or create your own.
      Once a routine is created saved to your Flow, you can modify it and track your progress and share it with our community.
    </p>
    <p>Continue reading below to check out some of the amazing features Gym Flow has to offer!</p>
  </div>
</section>

<section class="options">

  <div class="details">
    <img src="/assets/images/1.jpg" alt="logo image">
    <div class="info">
      <h3>Create Workout Routines</h3>
      <p>Create your own routines and get started with planning out some exercises and their details!</p>
    </div>
  </div>

  <div class="details">
    <div class="info">
      <h3>Share Your Workouts</h3>
      <p>
        If you love your Routines others might too!
        Share your routines to the Discover feed and let others be inspired by your work!
      </p>
    </div>
    <img src="/assets/images/2.jpg" alt="logo image">
  </div>

  <div class="details">
    <img src="/assets/images/3.jpg" alt="logo image">
    <div class="info">
      <h3>Get Inspired by Other Users</h3>
      <p>
        Stuck on where to start? Check out the Discover feed to see what other users are up to!
        If you love a routine, save it to your Flow and adjust it to your preferences!
      </p>
    </div>
  </div>

  <div class="details">
    <div class="info">
      <h3>Track Your Progress</h3>
      <p>
        Keep track of your workout details by updating your routines!
        Remember to keep pushing, you got this!
      </p>
    </div>
    <img src="/assets/images/4.jpg" alt="logo image">
  </div>

</section>