<h2>Login</h2>

<form class="form login-form">
  <div class="form-group">
    <label for="username-input">Username:</label>
    <input class="form-input" type="text" id="username-input" />
  </div>
  <div class="form-group">
    <label for="password-input">Password:</label>
    <input class="form-input" type="password" id="password-input" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Login</button>
  </div>
</form>

<script src="/js/login.js"></script>