:root {
    --primary: rgb(85, 220, 253);
    --secondary: #ecf0f1;
    --third: #34495e;
    --fourth: rgb(222, 39, 17);
}

body {
    margin: 0;
    padding: 0;
    background: var(--secondary);
}

header {
    background: var(--third);
    display: flex;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
    align-items: center;
    border: 3px solid var(--fourth);
    position: fixed;
    z-index: 2;
    width: 100%;
}


header button, header a {
    margin-right: 10px;
    text-decoration: none;
}

header button,
.btn-primary {
    width: 70px;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    border: none;
    outline: none;
    color: var(--secondary);
    background: var(--secondary);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

header button:before,
.btn-primary:before {
    content: '';
    background: linear-gradient(45deg, rgb(85, 220, 253), #ecf0f1, rgb(222, 39, 17), rgb(85, 220, 253), #ecf0f1, rgb(222, 39, 17), rgb(85, 220, 253), #ecf0f1, rgb(222, 39, 17), rgb(85, 220, 253), #ecf0f1, rgb(222, 39, 17));
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 0px;
}

header button:active:after,
.btn-primary:active::after {
    background: transparent;
}

header button:hover:before,
.btn-primary:hover::before {
    opacity: 1;
}

header button:after,
.btn-primary::after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--fourth);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.carousel {
    display: flex;
    justify-content: center;
    border-top: 3px solid var(--third);
    border-bottom: 3px solid var(--third);
    padding: 200px 0px 20px 0px;
    max-width: 100%;
}


.carousel-container img {
    display: flex;
    justify-content: center;
    margin: 20px;
    height: 400px;
    align-items: center;
    max-width: 100%;
}

.carousel-container {
    display: flex;
    justify-content: center;
    max-width: 1200px;
}

.aboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    border-right: 3px solid var(--third);
    padding-right: 100px;
    border-left: 3px solid var(--third);
    padding-left: 100px;
    margin-top: 50px;
}

.aboutUs h2 {
    font-size: 40px;
    color: var(--third);
    text-shadow: 2px 2px var(--primary);
}

.aboutUs p {
    font-weight: bold;
    border: 3px solid var(--fourth);
    border-radius: 15px;
    padding: 50px;
    background: var(--third);
    font-size: 20px;
    color: var(--secondary);
}

.options {
    border-top: 3px solid var(--third);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

.details img {
    border-radius: 15px;
    border: 3px solid var(--fourth);
    max-width: 100%;
}

.details {
    border-radius: 15px;
    display: flex;
    background-color: #34495e;
    padding: 30px;
    margin: 20px;
    width: 1000px;
    border: 3px solid var(--fourth);
}

.details h3 {
    font-size: 40px;
    text-decoration: underline;
    color: var(--primary);
}

.details p {
    font-size: 20px;
}

.info {
    color: var(--secondary);
    margin: 20px;
}

.footerSplit {
    border-left: 3px solid var(--secondary);
    border-right: 3px solid var(--secondary);
    padding: 0px 30px 0px 30px;
}

footer {
    font-size: 17px;
    background-color: var(--third);
    color: var(--secondary);
    display: flex;
    padding: 30px;
    margin-top: 200px;
    justify-content: space-around;
}

footer p {
    margin-left: 30px;
    margin-right: 30px;
}

footer a {
    color: var(--primary);
}

.group {
    padding-top: 400px;
    padding-bottom: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.group h2 {
    font-size: 40px;
    color: var(--third);
}

.login-form,
.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--third);
    padding: 20px;
    border-radius: 15px;
    font-size: 20px;
}

.form-group label,
.form-group input {
    margin-bottom: 20px;
    color: var(--third);
}

.form-group input {
    font-size: 20px;
    font-weight: bold;
}

.btn-primary {
    margin-bottom: none;
    font-weight: bold;
    color: var(--secondary);
    width: 80px;
}

.signUpOption {
    border: 2px solid var(--third);
    border-radius: 15px;
    padding: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--third);
}

.cardy {
    border: 3px solid var(--fourth);
    padding: 20px;
    background: var(--third);
    color: var(--secondary);
    margin-top: 20px;
    width: 600px;
    border-radius: 15px;
    margin: 20px;
}

.display-none {
    display: none;
}

.discoverAll {
    display: flex;
    margin: 0px 20px 0px 0px;
}

.discover {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 200px;
}

.dropdown {
    position: fixed;
    display: flex;
    flex-direction: column;
}

.dropdown h2 {
    margin-top: 10px;
}


.discover-post {
    display: flex;
    justify-content: space-between;
}



.dataTable {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid var(--fourth);
    text-align: center;
    padding: 0px 20px 20px 20px;
    border-radius: 15px;
}

.dataTable h2 {
    color: var(--primary);
    border-radius: 10px;
    padding: 5px 10px 5px 10px;

}

.tableHeaders th {
    font-weight: bold;
    color: var(--secondary);
    padding-bottom: 5px;
}

.trow {
    font-weight: bold;
    background: var(--secondary);
    color: var(--third);
    border: 2px solid var(--fourth);
}

.dataName {
    text-align: left;
    color: var(--third);
    padding: 5px 0px 5px 5px;
}

.discover-post button {
    background: var(--fourth);
    color: var(--secondary);
    font-weight: bold;
    padding: 5px;
    border-radius: 8px;
}

.action {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
}

.action a {
    flex-grow: 1;
}

.action button {
    width: 100%;
    background: none;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(85, 220, 253);
}

.bottom-right-btn {
    border-bottom-right-radius: 15px;
}

.bottom-left-btn {
    border-bottom-left-radius: 15px;
}

.no-rounded-corners {
    border-radius: 0;
}

.action button:hover {
    cursor: pointer;
}

.routine-btn {
    background-color: var(--third);
    border-bottom: 1px solid var(--primary);
    color: var(--secondary);
    padding: 3px;
    width: 250px;
}

.routine-btn:hover {
    background: var(--primary);
    color: var(--third);
    border: 1px solid var(--third);
    transition: 0.3s;
}

.sortbtn {
    background: var(--fourth);
}

.sortbtn:hover {
    background: var(--third);
}

.routine-nav {
    border-right: 1px solid var(--primary);
    border-top: 1px solid var(--primary);
    border-left: 1px solid var(--primary);
}

.dropdown h2 {
    color: var(--third);
    text-align: center;
    padding-top: 10px;
}

.sort-title {
    padding-top: 250px;
    text-align: center;
    font-weight: bold;
    color: var(--third);
}

.createbtn {
    padding-top: 190px;
    display: flex;
    justify-content: center;
}

.newbtn {
    margin: 10px;
    width: 300px;
    height: 50px;
    border: 2px solid var(--third);
    border-radius: 13px;
}

.profileDefaultHeader {
    display: flex;
    justify-content: center;
    padding-top: 350px;
    padding-bottom: 350px;
    align-items: center;
}

.createRoutine {
    padding-top: 190px;
    display: flex;
    justify-content: center;
}

.createHeaders,
.inputData {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.createCardy {
    border: 3px solid var(--fourth);
    padding: 20px;
    background: var(--third);
    color: var(--secondary);
    margin-top: 20px;
    width: 800px;
    border-radius: 15px;
    margin: 20px;
}

.createDataTable{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid var(--fourth);
    text-align: center;
    padding: 0px 20px 20px 20px;
    border-radius: 15px;
}

.createDataTable label{
    margin-top: 20px;
    margin-bottom: 20px;
}

.createButtons{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-decoration: none;
}

.createButtons button{
    margin-top: 20px;
    width: 100%;
    background: var(--third);
    color: var(--primary);
}

.first-input{
    margin-right: 5px;
}
.last-input{
    margin-left: 4.5px;
}

.descriptionInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descriptionInput textarea{
    width: 400px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.profileData{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.headerDiv{
    display: flex;
    justify-content: center;
}

.profileHeader{
    text-align: center;
    background: var(--primary);
    border: 2px solid var(--third);
    padding: 10px;
    border-radius: 15px;
    margin: 50px 0px 50px 0px;
}

.profilebtns{
    color: var(--primary);
}

#hidden-id, .hidden-description, .hidden-name, .hiddenExerciseId, #hidden-e-id, .hidden-id, #hidden, #hiddenRid{
    display: none;
}

.editTag{
    text-decoration: none;
    width: 100%;
}

.rNameUpdate{
    height: 30px;
}

.trashButton{
    align-items: center;
    background: var(--third);
    margin-left: 5px;
}

.edit-exercise-header{
    padding-top: 250px;
    text-align: center;
    color: var(--third);
}

.edit-table{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.edit-table-names{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.exercise-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid var(--fourth);
    margin: 20px 250px 20px 250px;
    border-radius: 15px;
}

.exercise-container button{
    background: var(--third);
    color: var(--primary);
    font-weight: bold;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.editEButton{
    background: var(--third);
    padding: 3px 5px 3px 5px;
    border: 2px solid black;
}

.header-container{
    display: flex;
}

.otherProfileUsername{
    margin-top: 250px;
    padding: 10px;
    background: var(--third);
    border: 3px solid var(--fourth);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: var(--primary);
    position: sticky;
}

.at{
    color: var(--fourth);
}

.welcome{
    margin-top: 250px;
}

.userProfile{
    margin-top: 250px;
}

.oldComment{
    padding-top: 30px;
    border-bottom: 2px solid var(--fourth);
}

.oldComment h4{
    color: var(--primary);
}

.storedComment{
    font-weight: bold;
}

.send-comment{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.send-comment textarea{
    width: 90%;
    margin: 10px;
}
.send-comment button{
    margin: 10px;
    background: var(--third);
    border: 2px solid var(--fourth);
}

.send-comment button:hover{
    background: var(--secondary);
}


@media screen and (max-width: 1150px) {
    .dropdown {
        position: relative;
        align-items: center;
    }

    .discoverAll {
        flex-direction: column;
    }
    .sort-title{
        padding-bottom: none;
    }

    .discover {
        padding-left: 0px;
    }
}

@media screen and (max-width: 670px) {
    .sort-title{
        padding-top: 270px;
        text-align: center;
    }
    .createbtn{
        padding-top: 300px;
        flex-direction: column;
        align-items: center;
    }
    .cardy {
        width: 400px;
    }

    .discover-post {
        flex-direction: column;
        padding: 5px;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    .footerSplit {
        border-top: 2px solid var(--secondary);
        border-bottom: 2px solid var(--secondary);
        border-left: none;
        border-right: none;
        padding: 10px 0px 10px 0px;
        text-align: center;
    }

    header a,
    header button {
        margin-top: 5px;
    }

    header {
        flex-direction: column;
        padding: 20px;
    }
}

@media screen and (max-width: 1270px) {
    .carousel-container{
        max-width: 800px;
    }
}
@media screen and (max-width: 1030px) {
    .carousel-container{
        max-width: 600px;
    }
    .details{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 60%;
    }
    .details img{
        width: 600px;
    }
    .info{
        max-width: 300px;
        text-align: center;
    }

    .aboutUs p{
        font-size: 15px;
    }
    .aboutUs{
        margin-left: 100px;
        margin-right: 100px;
        padding-left: 50px;
        padding-right: 59px;
    }
}

@media screen and (max-width: 700px) {
    .carousel-container{
        max-width: 450px;
    }
    .carousel-container img{
        max-width: 450px;
    }
    .details{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 60%;
    }
    .info h3{
        font-size: 20px;
    }
    .info p{
        font-size: 15px;
    }
    .details img{
        width: 200px;
    }
    .info{
        max-width: 300px;
        text-align: center;
    }

    .aboutUs p{
        font-size: 15px;
    }
    .aboutUs{
        margin-left: 50px;
        margin-right: 50px;
    }
    footer{
        font-size: 15px;
    }
}

@media screen and (max-width: 500px) {
    .aboutUs{
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 20px;
        margin-left: 20px;
    }
    .carousel-container{
        max-width: 400px;
    }
}